@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");

.mobile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 3%;
}

.header-left{
    flex: 2;
}

.header-center{
    flex: 6;
}

.header-center img {
    width: 20%;
}

.header-center h2 {
    font-size: large;
    text-align: center;
}

.header-right{
    flex: 2;
}
